// Colors

// Global
$lightest-bg-color: #c7dde0;
$light-bg-color: #3d6369;
$bg-color: #3e4e68;

$warning-text-color: #a94442;
$light-grey: #e9eae9;

// Form Field Status
$white: #fff;
$green: #42a948;
$red: #a94442;

// Disabled
$disabled-color-bg: #fff5f0;
$disabled-color-text: rgb(138, 138, 138);

// Button colors
$baby-blue: #4fc1e9;
$light-green: #43da5d;
$aqua: #48cfad;
$light-orange: #ff9500;
$lipstick-red: #f72015;
$excel-green: #207349;

// Role colors
$blue: #3e65e4;
$purple: #810081;
$forest-green: #006500;
$light-red: #ff0000;
$yellow: #ffe100;
$pink: #ff65b4;
$teal: #008080;
$grey: #c0c0c0;
$light-orange: #ffae19;
$brown: #654321;
$mint: #4fd195;
$dark-red: #d3522e;
$gold: #c4be6d;
$dark-blue: #02076c;
